.siteHeader {
  // margin: 1rem auto;
  font-weight: 900;
}

.siteHeader > nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.siteHeader > nav ul li {
  display: inline-block;
  margin: 0 2rem 0 0;
  font-family: "Lora", serif;
}
.siteHeader > nav ul li:last-child {
  margin: 0;
}

.siteHeader > nav ul li a {
  text-decoration: none;
}

.activeLink {
  border-bottom: 2px solid var(--mdc-theme-primary);
}
